<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Simple Spring Boot Application</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
</head>
<body>
<h1>Form</h1>
<form th:method="${enrollee.getId()} != null ? PUT : POST" th:object="${enrollee}">

    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Surname: <input type="text" th:field="*{surname}" /></p>
    <p>Last name: <input type="text" th:field="*{lastname}" /></p>
    <p>Address: <input type="text" th:field="*{address}" /></p>
    <p>Phone: <input type="text" th:field="*{phone}" /></p>
    <p>Certificate average mark: <input type="number" th:field="*{certificateAverageMark}" /></p>

    <p>
        <input type="reset" value="Reset" />
        <button type="submit">Submit</button>
    </p>
</form>
<script>
   $('form').ajaxForm(function(response) {
        alert(response);
    });
</script>
</body>
</html>