<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/ecmascript" th:src="@{/jqGrid/js/i18n/grid.locale-ua.js}"></script>
    <script type="text/ecmascript" th:src="@{/jqGrid/src/jquery.jqGrid.js}"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">

    <link rel="stylesheet" th:href="@{/jqGrid/css/ui.jqgrid-bootstrap4.css}"/>

    <script defer type="text/javascript" th:src="@{/initial-setup.js}"></script>
    <script defer type="text/javascript" th:src="@{/jqGrid/exam-result-grid-settings.js}"></script>
    <script defer type="text/javascript" th:src="@{/jqGrid/application-grid-settings.js}"></script>

    <meta charset="UTF-8">
    <title>Enrollee Panel</title>
</head>
<body>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#exam_result_tab" role="tab" data-toggle="tab">Exam Results</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#application_tab" role="tab" data-toggle="tab">Applications</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active show" id="exam_result_tab">
        <table id="exam_result_grid"></table>
        <div id="exam_result_pager"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="application_tab">
        <table id="application_grid"></table>
        <div id="application_pager"></div>
    </div>
</div>

</body>
</html>